.margin{width:1190px;margin:0 auto;}
.bj{background:url(../../images/common.gif) no-repeat;background-size:300px 900px;}

header{
	height:32px;
	background:#f6f6f6;
	border:1px solid #e7e7e7;
	#top{
			display:flex;
			justify-content: space-between;
			align-items: center;
			.t-left{
						width:310px;
						height:30px;
						font:12px/30px "";
						display:flex;
						span{
								height:30px;
								font:12px/30px "";
								color:#666;
								margin-right:15px;
							}
						p.p1{width:102px;}
						p.p2{display:none;}
					}
			a{
				display:inline-block;
				font:12px/30px "";
				color:#888;
				margin:0 10px;
			}
			s{
				display:inline-block;
				color:#ccc;
			}
			ul{
				display:flex;
				li{
					height:30px;
					a{
						display:inline-block;
						i{
							display:inline-block;
							width:16px;height:14px;
							background-position: -281px -219px;
							vertical-align:middle;
							margin-right:3px;
						}
					span{
							display:inline-block;
							color:#f00;
							font-weight: 700;
						}
					}
				}
			}
			
		}
	
}

#head{
	display:flex;
	justify-content: space-between;
	align-items: center;
	height:90px;
	a{
		display:inline-block;
		&.logo{width:190px;height:56px;}
		img{
			display:block;
			width:190px;
			height:56px;
			margin-right: 110px;
		}
	}
	.h-rigth{
		flex: 1;
		display:flex;
		justify-content: space-between;
		align-items: center;
		.search{
			width:506px;
			margin-top:20px;
			.s-t{width:506px;
				height:40px;
				background:url(../../images/common.gif) repeat;
				background-position:-1px -30px;
				overflow:hidden;border-radius: 3px;
				#txt{
					width:387px;
					height:32px;
					border:1px solid #ffa901;
					float: left;
					margin:3px 0 0 4px;
					font:12px/32px "";
					color:#666;
					padding-left:10px;
				}
				#btn{
					width:100px;
					height:34px;
					background-position:-1px -210px;
					float: left;border:0;
					margin-top:3px;
				}
			}
			.s-b{
				width:506px;
				height:30px;
				font:12px/30px "";
				color:#666;
				span{display:inline-block;}
				a{margin:0 3px;}
			}
			.tel{
				img{
					display:block;
					width:292px;
					height:58px;
				}
			}
		}
	}
}

nav{
	dl{
		height:39px;
		background:#ff7700;
		border-bottom:1px solid #fff;
		display:flex;
		align-items: center;
		dd{
			height:39px;
			font:14px/39px "";
			&:hover{background:#d66400;}
		}
		dt{
			width:190px;
			height:40px;
			background:#f14400;
			border:0;
			font:14px/40px "";
			&:hover{text-decoration: underline;background:#f14400;color:#fff;}
			a{
				width:190px;
				height:40px;
				padding: 0;
				.menu{
						display:inline-block;
						width:15px;
						height:16px;
						background-position: -283px -282px;
						vertical-align:middle;
						margin:0 14px;
					}
			}
		}
		a{
			display:block;
			padding:0 20px;
			color:#fff;
		}
	}
}

main{
	display:flex;

	padding-bottom:100px;
	// ul
	.lista{
		width:188px;
		height:372px;
		border:1px solid #cdcdcd;
		border-top:0;
		float: left;
		li{
			height:30px;
			font:700 12px/30px "";
			padding-left:10px;
			border-bottom:1px solid #cdcdcd;
			position:relative;
			&:hover{background:#e99922;color:#fff;}
			&.last{border:0;}
			a{color:#444;}
			.menu1{
				width: 690px;
				height: 365px;
				position: absolute;
				left:189px;top:0;
				z-index: 20;
				background:rgba(255,255,255,0.9);
				border-bottom:1px solid #888;
				border-right:1px solid #888;
				display:none;
				dl{
					display:flex;
					align-items: center;
					&.m1-1{border-bottom:1px solid #ddd;}
					dt{
						width:80px;
						height:40px;
						font:700 14px/40px "";
						margin-left:10px;
						&:hover{
							 a{
								 color:rgba(255,0,0,0.8);
							}
						}
						a{color:#666;}
					}
					dd{
						height:40px;
						font:12px/40px "";
						color:#888;
						&:hover{
							a{color:rgba(200,0,0,0.8);}
						}
						a{
							color:#888;
							padding:0 10px;
						}
					}
				}
			}
			.menu2{top:-31px;}
		}
	}

	#right{
		margin-left:10px;
		flex: 1;
		.navs{
			ul{
				display:flex;
				align-items:center;
				height:25px;
				margin:14px 0 12px 0;
				border-radius:2px;
				border:solid 1px #e4e4e4;
				li{
					text-align: center;
					font:12px/25px "";
					background-position:-248px -180px ;
					padding:0 20px 0 10px;
					a{color:#666;}
					&.li2{background-position:-198px -180px ;}
					&.li3{background-position:-222px -180px ;}
					&:hover{
						background:#f99;
						a{color:#fff;}
					}
				}
			}
			.screen{
				// margin-bottom: 4px;
				// position: relative;
				font:12px/30px "";
				h3{
					height: 30px;
					color:#666;
					padding-left: 10px;
					border:solid 1px #e4e4e4;
				}
				dl{
					height: 30px;
					clear: both;
					padding-left: 90px;
					margin-top: -1px;
					position: relative;
					overflow: hidden;
					border:solid 1px #e4e4e4;
					box-shadow: 0 1px 2px 0 #ddd;

					dt{
						width: 80px;
						float: left;
						padding-right: 10px;
						margin-left: -90px;
						color: #555555;
						text-align: right;
						overflow: hidden;
						cursor: default;
					}
					dd{
						float: left;
						margin-right: 10px;
						&:hover{
							a{color: #e8431f;}
						}
						a{
							padding: 2px 4px;
						}
					}
				}
			}
		}
		.goods{
			width:990px;
			margin-top:10px;
			ul{
				display:flex;
				flex-wrap: wrap;
				overflow: hidden;
				justify-content: space-between;
				align-items: center;
				li{
					width: 170px;
					height: 270px;
					word-break: break-all;
					// float: left;
					padding: 14px;
					// overflow: hidden;
					text-align: center;
					&:hover{
						padding: 13px;
						box-shadow: 0px 0px 10px #cccccc;
						border: 1px solid #cccccc;
					}
					a{
						color: #666;
						img{
							height: 170px;
							display:inline-block;
							vertical-align: middle;
						}
						div{
							width: 170px;
							height: 48px;
							color: #666;
							font:13px/24px "";
							overflow: hidden;
								
							span{
								display: block;
								&:hover{
									color: #e8431f;
								}
							}
							em{
								height: 24px;
								display: block;
								color: #ff7700;
								font:12px/2 "";
								overflow: hidden;
							}
						}
					}
					strong{
						height: 30px;
						display: block;
						color: #c4161c;
						font:700 14px/30px "";
						del{
							margin-left: 6px;
							color: #a5a5a5;
							font:12px/30px "";
							text-decoration: line-through;
						}
					}
					.actions{
						display:flex;
						a{
							height: 21px;
							margin-right: 10px;		
							display:block;
							border: 1px solid #dddddd;
							font:14px/21px "";
							color: #666;
							&:hover{
								border-color: #ff7c26;
								color: #e8431f;
							}
							&.addCart{
								padding: 0px 18px;
								background: #fafafa;
							}
							&.addPF{
							padding: 0px 6px;
								width: 10px;
								background: url(../../images/fdj/product.gif) 0px -540px no-repeat;
								
							}
						}
					}
				}
			}
		}
	}
}



search{
		height:234px;
		background:#fafafa;
		//i
		.tte{
			display:block;
			width:100%;
			height:6px;
			background:url(../../images/common.gif) repeat-x;
			background-size:300px 900px;
			background-position:0 -871px;
			}
		.links{
			display:flex;
			justify-content: space-between;
			dl{
				width:175px;
				height:144px;
				padding:0 20px;
				margin:14px;
				dt{
					height:40px;
					font:14px/40px "";
					color:#444;
					vertical-align:middle;
					i{
						display:inline-block;
						width:33px;
						height:33px;
						vertical-align:middle;
						padding-right:6px;
						&.i1{background-position:-242px -633px;}
						&.i2{background-position:-242px -693px;}
						&.i3{background-position:-242px -753px;}
						&.i4{background-position:-242px -813px;}
					}
				}
				dd{
					height:26px;
					font:12px/26px "";
					color:#666;
					padding-left:40px;
					a{height:26px;}
				}
			}
			.code{
				border-left: 1px solid #e1e1e1;
				text-align: center;
				margin-top:14px;
				padding: 20px 0px 20px 20px;
				text-align: center;
				color:#666;
				font-size: 14px;
				img{
					width:135px;
					height:135px;
					display:block;
				}
			}
			.code2{border-left:0;}
		}
	}
	
	footer{
		height:274px;
		border-top:1px solid #e5e5e5;
		margin-top:20px;
		background:#f5f5f5;
		.foot{
			text-align: center;
			ul{
				display:flex;
				justify-content:center;
				align-items: center;
				height:30px;
				margin-top:20px;
				li{
					height:30px;
					font:12px/30px "";
					&:hover{
						a{color:#e8431f;}
					} 
					a{color:#666;}
				}
				span{
					display:inline-block;
					height:16px;
					padding:0 10px;
					color:#888;
				}
			}
			.info{
				p{
					height: 36px;
					font:12px/36px "";
					color:#666;
				}
			}
			.ft{
				text-align: center;
				a{
					height:60px;
					img{
						display:inline-block;
						width:60px;
						height:60px;
					}
				}
			}
		}
	}
	
//dl	
#floatDtt{
	width:50px;
	height:200px;
	border:1px solid #f08326;
	position: fixed;right:0;
	top:180px;z-index: 999;
	background:#fff;
	dt{
		width:50px;
		height:45px;
		background: #f08326;
		font:12px/45px "";
		color:#fff;
		position:relative;
		text-align: center;
	}
	dd{
		width:50px;
		height:28px;
		margin-top:10px;
		a{
			display:block;
			span{
				display:block;
				width:35px;
				height:20px;font:10px/2 "";
				color:#666;
				text-align: center;
				border-top:1px solid #ddd;
				margin-left:8px;
				&:hover{color:#e8431f;}
			}
			img{
				display:block;
				width:35px;
				height:35px;
				padding:0 8px;
				margin:5px 0;
			}
		}
	}
}

#lct{
	width:39px;
	height:60px;
	position: fixed;
	right: 10px;
	bottom:60px;
	.a1{
		display: block;
		width:39px;
		height: 32px;
		background-position:-150px -121px;
	}
	.a2{
		display: block;
		width:39px;
		height: 28px;
		background-position:-150px -153px;
	}
}

